<div class="privacy-policy-container">
    <header class="privacy-policy-header">
      <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
    </header>
  
    <section class="privacy-policy-content">
      <p>{{ 'PRIVACY_POLICY.INTRO' | translate }}</p>
  
      <h2>{{ 'PRIVACY_POLICY.INFORMATION' | translate }}</h2>
      <ul>
        <li>{{ 'PRIVACY_POLICY.PERSONAL_INFO' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.USAGE_DATA' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.COOKIES' | translate }}</li>
      </ul>
  
      <h2>{{ 'PRIVACY_POLICY.EMAIL_CONFIDENTIALITY' | translate }}</h2>
      <p>{{ 'PRIVACY_POLICY.EMAIL_CONFIDENTIALITY_DESC' | translate }}</p>
  
      <h2>{{ 'PRIVACY_POLICY.USE' | translate }}</h2>
      <ul>
        <li>{{ 'PRIVACY_POLICY.USE_1' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.USE_2' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.USE_3' | translate }}</li>
      </ul>
  
      <h2>{{ 'PRIVACY_POLICY.RIGHTS' | translate }}</h2>
      <ul>
        <li>{{ 'PRIVACY_POLICY.RIGHTS_1' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.RIGHTS_2' | translate }}</li>
        <li>{{ 'PRIVACY_POLICY.RIGHTS_3' | translate }}</li>
      </ul>
  
      <h2>{{ 'PRIVACY_POLICY.CHANGES' | translate }}</h2>
      <p>{{ 'PRIVACY_POLICY.CHANGES_DESC' | translate }}</p>
    </section>
  </div>
  