<div class="terms-of-service-container">
    <header class="terms-of-service-header">
      <h1>{{ 'TERMS_OF_SERVICE.TITLE' | translate }}</h1>
    </header>
  
    <section class="terms-of-service-content">
      <p>{{ 'TERMS_OF_SERVICE.INTRO' | translate }}</p>
  
      <h2>{{ 'TERMS_OF_SERVICE.SERVICE_AVAILABILITY' | translate }}</h2>
      <p>{{ 'TERMS_OF_SERVICE.SERVICE_AVAILABILITY_DESC' | translate }}</p>
  
      <h2>{{ 'TERMS_OF_SERVICE.USER_RESPONSIBILITIES' | translate }}</h2>
      <p>{{ 'TERMS_OF_SERVICE.USER_RESPONSIBILITIES_DESC' | translate }}</p>
  
      <h2>{{ 'TERMS_OF_SERVICE.LIMITATION_OF_LIABILITY' | translate }}</h2>
      <p>{{ 'TERMS_OF_SERVICE.LIMITATION_OF_LIABILITY_DESC' | translate }}</p>
  
      <h2>{{ 'TERMS_OF_SERVICE.CHANGES_TO_TERMS' | translate }}</h2>
      <p>{{ 'TERMS_OF_SERVICE.CHANGES_TO_TERMS_DESC' | translate }}</p>
    </section>
  </div>
  
  